/*


*/
#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.input1{
    height: 1.8vw;
    width: 20vw;
        }
#cadastrar{
    background-color: brown;
    border-style: none;
    color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
    height: 2vw;
    width: 12vw;
}

#cadastrar:hover{
    background-color: rgb(252, 138, 138);
    color: rgb(36, 36, 36);
    border: 1px rgb(255, 0, 0) solid ;
}
#tabela{
    border: 1px gray solid;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: aliceblue;
    
}
th{
    text-align: start;
    border: 1px rgb(104, 104, 104) solid ;
    color: rgb(54, 54, 54);
    font-size: 1.4vw;
}

#nome{
width: 20%;
}

td{
color: rgb(53, 53, 53);
font-weight: 600;
background-color: rgb(226, 226, 226);
padding: 4px;
border: 1px gray solid;
font-size: 1.2vw;
}
td:hover{
    background-color: brown;
    color: aliceblue;
    cursor: pointer;
}
.delete{
    cursor: pointer;
}
body{
    background-image: url(./img/download.jfif);
    
}